@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* In your global CSS (e.g., index.css or app.css) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}


@theme {
  --color-charcoal: #333333;
  --color-grey: #DADADA;
  --color-matcha: #588157;
  --color-light-matcha: #90a955;
  --color-white-bg: #FAFAFA;

  --font-outfit: "Outfit", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@layer components{
  .margin {
    @apply mx-5 sm:mx-15 md:mx-30 lg:mx-40 xl:mx-50 2xl:mx-70
  }
}

@layer base {
  button{
    @apply bg-charcoal text-center text-white rounded-lg cursor-pointer
  }
}